<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kParentNewFeed</key>
	<dict>
		<key>kLabelName</key>
		<string>新鲜事</string>
		<key>kLabelIsRetractable</key>
		<true/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kChildLabels</key>
		<array>
			<string>kChildAllSelfNewFeed</string>
			<string>kChildRenrenSelfNewFeed</string>
			<string>kChildWeiboSelfNewFeed</string>
		</array>
	</dict>
	<key>kChildAllSelfNewFeed</key>
	<dict>
		<key>kLabelName</key>
		<string>全部</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildRenrenSelfNewFeed</key>
	<dict>
		<key>kLabelName</key>
		<string>人人网</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildWeiboSelfNewFeed</key>
	<dict>
		<key>kLabelName</key>
		<string>新浪微博</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kParentFriend</key>
	<dict>
		<key>kLabelName</key>
		<string>联系人</string>
		<key>kLabelIsRetractable</key>
		<true/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kChildLabels</key>
		<array>
			<string>kChildWeiboFriend</string>
			<string>kChildWeiboFollower</string>
			<string>kChildRenrenFriend</string>
		</array>
	</dict>
	<key>kChildRenrenFriend</key>
	<dict>
		<key>kLabelName</key>
		<string>好友</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildWeiboFriend</key>
	<dict>
		<key>kLabelName</key>
		<string>关注</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildWeiboFollower</key>
	<dict>
		<key>kLabelName</key>
		<string>粉丝</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kParentUserInfo</key>
	<dict>
		<key>kLabelName</key>
		<string>个人档</string>
		<key>kLabelIsRetractable</key>
		<true/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kChildLabels</key>
		<array>
			<string>kChildCurrentRenrenInfo</string>
			<string>kChildCurrentWeiboInfo</string>
			<string>kChildWeiboNewFeed</string>
			<string>kChildRenrenNewFeed</string>
		</array>
	</dict>
	<key>kChildRenrenNewFeed</key>
	<dict>
		<key>kLabelName</key>
		<string>新鲜事</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildWeiboNewFeed</key>
	<dict>
		<key>kLabelName</key>
		<string>微博</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildAlbum</key>
	<dict>
		<key>kLabelName</key>
		<string>相册</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildBlog</key>
	<dict>
		<key>kLabelName</key>
		<string>日志</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildCurrentRenrenInfo</key>
	<dict>
		<key>kLabelName</key>
		<string>人人资料</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildCurrentWeiboInfo</key>
	<dict>
		<key>kLabelName</key>
		<string>微博资料</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildRenrenInfo</key>
	<dict>
		<key>kLabelName</key>
		<string>资料</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildWeiboInfo</key>
	<dict>
		<key>kLabelName</key>
		<string>资料</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kParentInbox</key>
	<dict>
		<key>kLabelName</key>
		<string>收件箱</string>
		<key>kLabelIsRetractable</key>
		<true/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kChildLabels</key>
		<array>
			<string>kChildNewMessage</string>
			<string>kChildNewFriend</string>
		</array>
	</dict>
	<key>kChildNewMessage</key>
	<dict>
		<key>kLabelName</key>
		<string>新消息</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kChildNewFriend</key>
	<dict>
		<key>kLabelName</key>
		<string>新联系人</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<false/>
	</dict>
	<key>kSystemDefaultLabels</key>
	<array>
		<string>kParentNewFeed</string>
		<string>kParentFriend</string>
		<string>kParentPublication</string>
		<string>kParentUserInfo</string>
		<string>kParentBackToLogin</string>
	</array>
	<key>kParentWeiboUser</key>
	<dict>
		<key>kLabelIsRetractable</key>
		<true/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kChildLabels</key>
		<array>
			<string>kChildWeiboInfo</string>
			<string>kChildWeiboNewFeed</string>
			<string>kChildWeiboFriend</string>
			<string>kChildWeiboFollower</string>
		</array>
	</dict>
	<key>kParentRenrenUser</key>
	<dict>
		<key>kLabelIsRetractable</key>
		<true/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kChildLabels</key>
		<array>
			<string>kChildRenrenInfo</string>
			<string>kChildRenrenNewFeed</string>
		</array>
	</dict>
	<key>kParentPublication</key>
	<dict>
		<key>kLabelName</key>
		<string>发件箱</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
	</dict>
    <key>kParentBackToLogin</key>
	<dict>
		<key>kLabelName</key>
		<string>登录卡</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
	</dict>
</dict>
</plist>
