@charset "UTF-8";
/* CSS Document */

body {
	background-color:transparent;
	width:306x;
	font:Helvetica;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

a {
	color:#525044;
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
}

#topline {
	left:3px;
	position:relative;
	width:300px;
	height:1px
}
#weibo {
	line-height:120%;
	background-image:url(back.png);
	background-size:238px 19px;
	color:#525044;
	font-size:16px;
	padding-top:0px;
	margin-top:0px;
	word-break:break-all;
}

#allinfo {
	width:306px;
	position:absolute;
	left: 0px;
	top: 0px;

}

.headimage {
	position:absolute;
	left: 4px;
	top: 8px;
}

#maininfo {
	position:absolute;
	left:58px;
	top:10px;
	width:238px;
	
}

.title {
	font-size:16px;
	font-weight: bold;
	color:#525044;
	width:200px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden; 
}

.time {
	color:#908E78;
	font-size:9px;
	text-align:right;
	right:0px;
	top:3px;
	position:absolute;
}

#repost {
	position:relative;
	top:0px;
	left:0px;
	border:none;
}

#repostdata {
	background-color:#FFEEBA;
	border-style:solid;
	border-color:#d7d6a3;
	border-width:1px;
	border-color:#DBCFAB;
	-webkit-border-radius: 2.5px;
	-webkit-box-shadow:0px 0px 3px #DED5BD;
	position:relative;
	top:20px;
	color:#525044;
	line-height:120%;
	font-size:11.5px;
	z-index:1;
	top:-10px;

	overflow:hidden;
	padding-top:10px;
	padding-left:5px;
	padding-bottom:10px;
	padding-right:5px;
	word-break:break-all;
}

#downborder {
	z-index:5;
	position:relative;
	left:12px;
	top:8px;
}

#count {
	position:relative;
	top:10px;
	text-align:right;
	font-size:9px;
	color:#908E78;
	height: 10px;
}

#blog {
	line-height:120%;
	color:#525044;
	border-color:#E4E1BE;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius: 2.5px;
	background-color:#FEF0C4;
	font-size:11.5px;
	position:relative;
	padding-left:5px;
	padding-right:5px;
	top:5px;
	word-break:break-all;
}

#uploadphoto {
	height:73px;
	width:89.5px;
	position:absolute;
	left:-30px;
	top: 5px;
}

#albumcomment {
	line-height:120%;
	color:#525044;
	border-color:#E4E1BE;
	border-width:1px;
	border-style:solid;
	width:120px;
	height:90px;
	-webkit-border-radius: 5px;
	background-color:#FEF0C4;
	font-size:11.5px;
	position:absolute;
	top:5px;
	right:0px;
	
}

#photocomment {
	line-height:120%;
	color:#525044;
	border-color:#E4E1BE;
	border-width:1px;
	border-style:solid;
	width:159px;
	height:90px;
	-webkit-border-radius: 5px;
	background-color:#FEF0C4;
	font-size:11.5px;
	position:absolute;
	top:5px;
	right:0px;
    word-break:break-all;
}

.highlight {color:#006633; font-weight:bold;}
.highlight a:link{text-decoration:none; color:#006633;}
.highlight a:visited{text-decoration:none; color:#006633;}
